body {
}

#map-canvas {
    max-height: 555px;
    overflow: hidden;
}

.helperText {
    padding-top: 1em;
    height: 100%;
    background-color: rgb(0, 1, 32);
    color: lightblue;
    font-size: 2em;
}

.directions {
    margin-top: 1em;
}

    .directions > div > ul {
        list-style-type: none;
    }

        .directions > div > ul > li:first-child {
            border-top: 1px solid #e6e6e6;
        }

.transOption > div {
    margin-top: 5px;
    color: white;
    font-weight: bold;
}


.steps > ul > li > div > div:nth-child(2) {
    text-align: right;
}

.steps > ul > li {
    padding: 1em 0;
    border-bottom: 1px solid #e6e6e6;
}

.header {
    padding: 1em;
    background-color: rgb(208, 209, 216);
    color: black;
    font-weight: bold;
    text-overflow:ellipsis;
    width: 100%;
    white-space: nowrap;
    display: block;
    overflow: hidden;
}

.addFavorites {
    background-color: rgb(230, 193, 0);
    color: black;
}

    .addFavorites:hover, .addFavorites:focus {
        background-color: rgb(255, 220, 23);
        color: black;
    }

.viewFavorites {
    background-color: rgb(0, 1, 32);
    color: lightblue;
}

    .viewFavorites:hover, .viewFavorites:focus {
        color: rgb(255, 220, 23);
        background-color: rgb(9, 10, 52);
    }
